[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
Django = "==1.8.1"
django-suit = "==0.2.20"
django-widget-tweaks = "*"

[requires]
python_version = "3.5.2"